<div class="grid fluid">
	<div class="row">
		<div class="span8 offset1">
			<h2>History</h2>
		</div>
	</div>
	<div class="row ntm">
		<%= render 'shared/sidebar' %>
		<div class="tile-group eight offset1">
			<%if @transactions then %>
				<%= render partial: "transaction" , collection: @transactions %>	
			<% end %>
		</div>
	</div>
</div>