<div class="row">
	<div class="span13 text-center">
		<h1 class="front-title">
			<p><strong><em>Alpha</em></strong></p>
			<span class="fg-orange">#TAG</span><span class="fg-darker">Budget</span>
		</h1>
	</div>
</div>