<div class="row">
	<div class="span4 offset1 place-left">
		<h1>TagBudget</h1>
	</div>
	<div class="span6 place-right">
		<nav class="horizontal-menu">
			<ul>
				<li><a href="#">Tag</a></li>
				<li><a href="#">This Week</a></li>
				<li><a href="#">History</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="span4  offset2">
		<div class="tile quadro bg-cyan">
			<div class="input-control text">
				<input type='text' value="" placeholder="TagBudget"/>
				<button class="btn-clear"></button>
			</div>
			<div class="brand">
				<div class="badge attention"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">

</div>