<div class="row">
	<div class="span8 offset4">
		<form>
			<legend>#New Budget!</legend>
			<div class="input-control text">
				<input type="text" placeholder="#Coffee - 35 ?" />
			</div>
			<input type="submit" value="Tag!"/>
		</form>
	</div>
	<div class="span8  offset4">
		<div class="tile quadro bg-cyan">
			<div class="input-control text">
				<input type='text' value="" placeholder="TagBudget"/>
				<button class="btn-clear"></button>
			</div>

		</div>
	</div>
</div>
<div class="row">

</div>