<div class="row">
	<div class="span8 offset4">
		<%= form_for @transaction, url: {action: 'create'} do |f| %>
			<legend>#New Budget!</legend>
			<div class="input-control text">
				<%= f.text_field :category, placeholder: "#Coffee - 35 ?" %>
			</div>
			<%= f.submit "Tag!" %>
		<% end %>
	</div>
</div>
<% @transactions.each do |transaction| %>
<div class="row">
	<div class="tile double">
		<h3><%= transaction.category %></h3>
	</div>
</div>
<% end %>