<!DOCTYPE html>
<html>
<head>
  <title>TagBudget</title>
	
	<!-- JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	  
	<!-- METRO UI CSS -->
	<link rel="stylesheet" href="styles/metro-bootstrap.css">
	<link rel="stylesheet" href="styles/metro-bootstrap-responsive.css"> 
	<script src="js/metro.min.js"></script>
	
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="metro grid fluid">
	<div class="row">
		<div class="span10 offset1">
			<nav class="horizontal-menu">
				<ul>
					<li><a href="/"><h1>TagBudget</h1></a></li>
					<li><a href="#">Tag</a></li>
					<li><a href="#">This Week</a></li>
					<li><a href="#">History</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<%= yield %>

</body>
</html>
